{% extends 'core/base.html'%}

{% block title %}{{aticle.title}}{%endblock%}
{% block  content %} 
    {% if article.image %}
        <img src='{{article.image.url}}' alt='{{article.title}}' height='600px' class='object-fit-cover'>
    {% endif %}
    <h1> {{article.title}} </h1>
    <div class = "my-3">
        {% if user == article.author %} 
            <a class='btn btn-primary' href='{% url "article_update" article.slug %}'>Редагувати</a>
            <a class='btn btn-danger' href='{% url "delete" article.slug %}'>Видалити</a>
        {% endif %} 
    </div>    
    <p>Автор: {{article.author.first_name}}</p>
    <p>Дата публікації: {{article.created_at}} </p>
    <p>Дата оновлення: {{article.updated_at}} </p>
    <p> {% for tag in article.tags.all %}
        <a href='{% url "articles_tag_list" tag=tag.slug %}'>#{{tag.name}}</a>
        {% endfor %}
    </p>
    <p>Категорія: <a href='#'>{{article.category.name}}</a></p>
    <p> {{article.content}} </p>
    

    <h2>Додати коментар</h2>
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <input class="btn btn-primary" type="submit" value="Додати коментар">
    </form>
    <h3>Коментарі</h3>
    </hr>
    {% for comment in article.comments.all %}
    <p><strong>Ім'я:</strong> {{comment.name}}</p>
    <p>Дата публікації: {{comment.created_at}}</p>
        <p>{{comment.content}}</p>
    </hr>
    {% empty %}
        <p>Коментарів немає</p>
    {% endfor %}

{% endblock  %} 


