{% extends 'core/base.html'%}

{% block title %} {{title}} {% endblock %}

{% block content %}
    <h1>{{title}}</h1>
    <div>
        <a class='btn btn-primary' href='{% url "create" %}'>Create</a>
    </div>
        <div class="row row-cols-3 g-4">

        {% for article in page_articles %}
            <div class="col">
                <div class="card">
                    <a href="{% url 'details' article.slug %}" class="text-decoration-none text-white">
                    {% if article.image %}
                        <img src="{{article.image.url}}" height='500px' class='object-fit-cover', alt='...'>
                    {% else %}
                        <img src='https://via.placeholder.com/150' class='card-img-top' alt='...'>
                    {% endif %}
                        <div class='card-body'>
                    <div class="card-body">
                    <h5 class="card-title">{{article.title}}</h5>
                    <p class='card-subtitle mb-2 text-muted'>Опубліковано: {{article.created_at | timesince}} назад</p>
                    <p class="card-text">{{article.content_preview}}</p>
                    <a href="{% url 'details' article.slug %}" class="btn btn-primary">See more</a>
                    {% if user == article.author %}
                        <a href="{% url 'article_update' article.slug %}" class="btn btn-warning">Update</a>
                        <a class='btn btn-danger' href='{% url "delete" article.slug %}'>Delete</a>
                    {% endif %}
                    </a>
                    </div>
                </div>
            </div>
            {% empty %}
            <p>No articles yet.</p>
        {% endfor %}
          
    </div>
    {% for contact in page_articles %}
    {# Each "contact" is a Contact model object. #}
    {{ contact.full_name|upper }}<br>
    ...
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if page_articles.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_articles.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_articles.number }} of {{ page_articles.paginator.num_pages }}.
        </span>

        {% if page_articles.has_next %}
            <a href="?page={{ page_articles.next_page_number }}">next</a>
            <a href="?page={{ page_articles.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}