{% extends 'core/base.html'%}

{% block title %} {{title}}{% endblock %}

{% block content %}
<div class="blockwrapper" style="">
    <div class="block_holder" style="margin: 15px auto; width: 85%; ">
        <div class="align_cont" style="position:relative;text-align:center;">
            <div class="preview_regular" style="display:inline-block;">
                <div class="" style=""><div><span style="font-size:small;">

                </span><p style="text-align:center;">Nikita Gavrilenko is a clothes and interiors desiner, based in Odessa Ukraine. He works with some of the top luxury design models and brings his aesthetic touch and editorial eye to his new design of luxury models and companies.<br>His personal project <em><strong><a href="/roblox-aestetic-the-future-" title="Personal project, Roblox aestetic, the Future">Roblox aestetic, the Future</a></strong></em> has received attention in outlets such as Phaidon, The Independent UK and AI/AP.&nbsp;</p><p><strong><span style="text-align:center;font-size:x-large;"></span></strong></p><span style="font-size:x-large;"><strong><br><br></strong></span><p style="text-align:center;"><span style="font-size:x-large;">Contact to:<strong>&nbsp;</strong></span>&nbsp;<a href="rabochijakaunt5760@gmail.com" title="say hello" style="font-size:x-large;"><strong>rabochijakaunt5760@gmail.com</strong></a><br></p></div></div></div></div>
</div>
<div class="blockwrapper" style=""><div class="block_holder" style="margin: 15px auto; width: 85%; ">
    <div class="align_cont" style="position:relative;text-align:center;">
        <div class="preview_narrow" style="display:inline-block;">
            <div class="" style=""><div><h3><strong style="font-size:medium;">Selected Hotels &amp; Hospitality</strong></h3><p><span style="font-size:medium;">Kempinski Tel Aviv, Elkonin Tel Aviv, R48 Hotel and Garden, Hotel Montefiore, Six Senses Shaharut, Soho House Tel Aviv, Almanac Barcelona, The Jaffa,  The Norman, Pikaia Lodge Galapagos, Valverde Lisbon, The Levee Tel Aviv, Palacio Belmonte Lisbon&nbsp;</span></p><p><strong style="font-size:medium;">Selected Editorial</strong><br></p><p><span style="font-size:medium;">AFAR, Condé Nast Traveller (US, UK), Departures, Elle Decor, Enroute, Food &amp; Wine, GEO Saison, Hemispheres, High Life British Airways, Lonely Planet Traveller UK, Monocle, Saveur, Sunday Times Travel, SWISS, Travel + Leisure, Virtuoso Life, Wallpaper&nbsp;</span></p><br><br><span style="font-size:medium;">&nbsp;&nbsp;</span><span style="font-size:medium;"><br></span></div></div></div></div>
</div>
</div>
</div>
    
            <!-- <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
              <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Primary button</button>
              <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button>
            </div> -->
          </div>
{% endblock %}