{% load static %}
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src ="{% static 'ckeditor/ckeditor-init.js' %}"></script>
    <script src ="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
    <title>{% block title %}{% endblock %} | EnoughTime</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>
<body>
    <header class="p-3 text-bg-dark bg-body-tertiary">
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="{% url 'index' %}" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
              <img class="bi me-2" src="https://www.freeiconspng.com/thumbs/poop-emoji-png/poop-emoji-png---images-free-download-6.png" alt=""  height="32">
            </a>
    
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
              <li><a href="{% url 'about' %}" class="nav-link px-2 text-white">О нас</a></li>
              <li><a href="{% url 'blog' %}" class="nav-link px-2 text-white">Блог</a></li>
              <li><a href="{% url 'random_article' %}" class="nav-link px-2 text-white">Випадкова стаття</a></li>
            </ul>
    
            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search" method='get' action='{% url "search" %}'>
              <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search" name='query'>
            </form>
    
            <div class="text-end">
              {% if user.is_authenticated %}
                {% comment "" %}<a href='{% url "profile" %}' class="btn btn-outline-light me-2">Profile</a>{% endcomment %}
                <a href='{% url "logout" %}' class="btn btn-outline-light me-2">Logout</a>
              {% else %}
                <a href='{% url "login" %}' class="btn btn-outline-light me-2">Login</a>
                <a href='#' class="btn btn-outline-light me-2">Sign-up</a>
              {% endif %}
            </div>
          </div>
        </div>
      </header>

    <div class="container">
      <div class="row display-flex px-4 py-3 my-5 text-center bg-body-tertiary rounded-3">
        <div class='col-6'> 
          <img class="d-block mx-auto mb-4 rounded" src="https://img.artlebedev.ru/everything/hovansky/hovansky-logo.png" alt="" width='100%' >
        </div>
        <div class='col-6'> 
          <h1 class="display-3 fw-bold text-body-emphasis">Ласкаво просимо до Desinpub - блогу про дізайн</h1>
        <div class="mx-auto">
          <p class="lead mb-1">Вітаємо вас на Desinpub - джерелі інформації про дізайн, моду, та стиль. Наш блог присвячений сучасному дизайну, де ви знайдете корисні поради, новітні тенденції, кращі практики та багато іншого. Будьте в курсі останніх новин у світі моди. Розширюйте свої знання разом з нами.</p>
          <!-- <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Primary button</button>
            <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button>
          </div> -->

        </div>
        
        </div>
      </div>
      {% if messages %}
        {% for message in messages%}
          <div class='alert alert-{{ message.tags }} alert-dismissible fade show' role='alert'>
            {{ message }}
            <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
          </div>
      <div class="row align-items-md-stretch bg-body-tertiary rounded-3 p-4">
        {% endfor %}
      {% endif %}
        {% block content %}{% endblock %}
      </div>

       

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>